<h1>Word Puzzle</h1>
  
<form action="/vowels">
  <div class="form-group">
    <label for="vowels">Enter a sentence:</label>
    <input id="vowels" name="vowels" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Remove Vowels</button>
</form>
