body {
  background-image: url(https://wordinspiration.files.wordpress.com/2014/11/words-1.jpg);
  background-size: 1300px;
  background-repeat: no-repeat;
}

h2 {
  font-size: 100px;
  color: black;
}

a {
  font-size: 75px;
}
